{%extends 'main.html'%}
{%block content%}
<div>
<h1>Add Card</h1>
<fieldset id="forms__textareas">
    <p>
        <label for="input__file">Card Image Input</label>
        <input id="input__file" type="file">
    </p>
    <p>
        <label for="input__text">Card Name</label>
        <input id="input__text" type="text" placeholder="Card Name">
    </p>

    <p>
        <label for="textarea">Card Details</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </p>
</fieldset>

<button type="button" href="">Back</button>
<button type="button" href="">Submit</button>

</div>
{%endblock content%}
