{%extends 'main.html'%}
{%block content%}
<div>
<h1>Card Selection</h1>
<nav>
    <ul>
        <button type="button" href="">Delivering Value</button>

        <button type="button" href="">Easy To Release</button>

        <button type="button" href="">Fun</button>
        <button type="button" href="">Health of Codebase</button>
    </ul>
</nav>
<nav>
    <ul>
        <button type="button" href="">Learning</button>

        <button type="button" href="">Mission</button>

        <button type="button" href="">Pawn of Players</button>
        <button type="button" href="">Speed</button>
    </ul>
</nav>
<nav>
    <ul>
        <button type="button" href="">Suitable Process</button>

        <button type="button" href="">Support</button>

        <button type="button" href="">Teamwork</button>

    </ul>
</nav>
<button type="button" href="">Save</button>
</div>
{%endblock content%}
