{%extends 'main.html'%}
{%block content%}
<div>
<h1>Add Department</h1>
<fieldset id="forms__textareas">

    <p>
        <label for="input__text">Department Name</label>
        <input id="input__text" type="text" placeholder="Department Name">
    </p>
    <p>
        <label for="idd">Date Created</label>
        <input type="date" id="idd" value="1970-01-01">
    </p>
    <p>
        <label for="input__text">Department Leader</label>
        <input id="input__text" type="text" placeholder="Department Leader Name">
    </p>


</fieldset>

<button type="button" href="">Back</button>
<button type="button" href="">Submit</button>

</div>
{%endblock content%}
