{%extends 'main.html'%}
{%block content%}
<div>
<h1>Add Team</h1>
<fieldset id="forms__textareas">

    <p>
        <label for="input__text">Team Name</label>
        <input id="input__text" type="text" placeholder="Team Name">
    </p>
    <p>
        <label for="input__text">Team Project</label>
        <input id="input__text" type="text" placeholder="Team Project">
    </p>


</fieldset>

<button type="button" href="">Back</button>
<button type="button" href="">Submit</button>

</div>
{%endblock content%}
