{%extends 'main.html'%}
{%block content%}
<div>
<h1>Profile</h1>

<!--method of transferring data (post) needs to be added-->
<section id="forms">
    <form>
        <fieldset id="forms__input">
            <legend>Profile Details</legend>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>

            <p>Email: {{ user.email }}</p>

            <p>Username: {{ user.username }}</p>

            <p>Role: {{ user.profile.role }}</p>
            </fieldset>
    </form>
</section>
</div>
{%endblock content%}
