{%extends 'main.html'%}
{%block content%}
<div>
<h1>Overall Card Trends</h1>
<!--javascript to generate graph-->
<fieldset id="forms__select">
    <legend>Select menus</legend>
    <p>
        <label for="select">Select</label>
        <select id="select">
            <optgroup label="Card Options">
                <option>Card One</option>
                <option>Card Two</option>
                <option>Card Three</option>
            </optgroup>
        </select>
        <label for="select">Select Team</label>
        <select id="select">
            <optgroup label="Card Options">
                <option>Team One</option>
                <option>Team Two</option>
                <option>Team Three</option>
                <option>Team Four</option>
            </optgroup>
        </select>
    </p>
</fieldset>
<ul>
    <button type="button" href="">Back</button>
</ul>
</div>
{%endblock content%}
