{%extends 'main.html'%}
{%block content%}
<div>
<h3>Change Password</h3>
<section id="forms">
    <form>
        <fieldset id="forms__input">
            <legend>Change Password</legend>
            <p><a href="">Forgot your password? Click here</a></p>
            <p>
                <label for="input__text">Current Password</label>
                <input id="input__text" type="text" placeholder="Name">
            </p>
            <p>
                <label for="input__text">New Password</label>
                <input id="input__text" type="text" placeholder="New Password">
            </p>
            <p>
                <label for="input__text">Re-enter New Password</label>
                <input id="input__text" type="text" placeholder="Re-enter New Password">
            </p>
        </fieldset>
    </form>
</section>
</div>
{%endblock content%}
