{%extends 'main.html'%}
{%block content%}
<div>
<h1>Sign Up</h1>
<!--link needs to be added-->
<p> <a href="">User doesn't exist? Click here to sign up</a></p>

<!--method of transferring data (post) needs to added-->
<section id="forms">
    <form>
        <fieldset id="forms__input">
            <legend>Input fields</legend>
            <p>
                <label for="input__text">Username</label>
                <input id="input__text" type="text" placeholder="Username">
            </p>
            <p>
                <label for="input__password">Password</label>
                <input id="input__password" type="password" placeholder="Type your Password">
            </p>




        </fieldset>
    </form>
</section>
</div>
{%endblock content%}
