{%extends 'main.html'%}
{%block content%}
<div>
    <h1>Health Check Menu</h1>
    <ul>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/health/delivering-value/';" class="btn">
            Complete health check</button>
        <br>
        <a href="{% url 'home' %}" class="button">Continue Session</a> change this
        <br>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/summaryselection/';" class="btn">View
            Summary
        </button>
        <br>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/trendselection';" class="btn">View Progress
        </button>
    </ul>
</div>
{%endblock content%}