{%extends 'main.html'%}
{%block content%}
<div>
<h1>Summary View</h1>
    <ul>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/piechart';" class="btn">Pie Graph
        </button>
        <br>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/linechart';" class="btn">
            Line Graph</button>
        <br>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/menupage/';" class="btn">Back</button>
    </ul>
</div>
{%endblock content%}
