{%extends 'main.html'%}
{%block content%}
{% if user.is_authenticated %}
<div>
    <!--variable needed for name-->
<h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
<h5>What is the health check</h5>
<p>A health check in a company refers to a comprehensive review or assessment of a particular aspect of the organization to ensure everything is functioning properly and efficiently. The term can be used in different contexts depending on the focus.</p>
<h5>What is the purpose of the health check</h5>
<p>
    Catch problems early before they escalate. <br>
    
    Optimize performance and efficiency.<br>
    
    Ensure compliance with regulations.<br>
    
    Support decision-making with data.<br>
    
    Foster a proactive, improvement-focused culture.</p>
</div>

<div>
{% else %}
    <h1>Please Sign up/Sign in before using this web page</h1>
    <ul>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/accounts/login';" class="btn">Login
            </button>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/accounts/signupaccount';" class="btn">Sign
            Up</button>
    </ul>
    {% endif %}
</div>
{%endblock content%}
