{%extends 'main.html'%}
{%block content%}
<div>
    <!--variable needed for name-->
<h1>Welcome (name)</h1>
<h5>What is the health check</h5>
<p>A health check in a company refers to a comprehensive review or assessment of a particular aspect of the organization to ensure everything is functioning properly and efficiently. The term can be used in different contexts depending on the focus.</p>
<h5>What is the purpose of the health check</h5>
<p>
    Catch problems early before they escalate. <br>
    
    Optimize performance and efficiency.<br>
    
    Ensure compliance with regulations.<br>
    
    Support decision-making with data.<br>
    
    Foster a proactive, improvement-focused culture.</p>
</div>
{%endblock content%}
