{% extends 'mainhome.html' %}

{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div>
            <div class="card-body">
                {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>

                <a href="{% url 'loginaccount' %}" class="btn btn-secondary mt-3">
                    Already have an account?
                </a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
