<!-- THIS CHECK FOR UNREGISTRED USER -->
<header>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <nav>
        <ul>
            <a href="{% url 'home' %}">
                <img src="{% static 'health_check/skylogo.png' %}" alt="sky">
            </a>            
            {% if user.is_authenticated %}
                {% if user.profile.role == 'Team Leader' %}
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'leadermenupage' %}">Health Check</a>
                    <a href="{% url 'passwordchange' %}">Change Password</a>
                    <a href="{% url 'adddeleteuser' %}">Admin Function</a>
                    <a href="{% url 'logoutaccount' %}">Log out ({{ user.profile.role }} {{ user.username }})</a>

                {% elif user.profile.role == 'Senior Manager' %}   
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'DepSeniormenupage' %}">Health Check</a>
                    <a href="{% url 'passwordchange' %}">Change Password</a>
                    <a href="{% url 'adddeleteuser' %}">Admin Function</a>
                    <a href="{% url 'logoutaccount' %}">Log out ({{ user.profile.role }} {{ user.username }})</a>

                {% elif user.profile.role == 'Department Leader' %}   
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'DepSeniormenupage' %}">Health Check</a>
                    <a href="{% url 'passwordchange' %}">Change Password</a>
                    <a href="{% url 'adddeleteuser' %}">Admin Function</a>
                    <a href="{% url 'logoutaccount' %}">Log out ({{ user.profile.role }} {{ user.username }})</a>

                {% elif user.profile.role == 'Admin' %}
                    <a href="{% url 'logoutaccount' %}">Log out ({{ user.profile.role }} {{ user.username }})</a>

                {% else %} <!-- Engineer -->
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'menupage' %}">Health Check</a>
                    <a href="{% url 'passwordchange' %}">Change Password</a>
                    <a href="{% url 'logoutaccount' %}">Log out ({{ user.profile.role }} {{ user.username }})</a>  
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>
